<?xml version="1.0" encoding="UTF-8"?>

<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:hdp="http://www.springframework.org/schema/hadoop"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">


<!-- //配置hadoop的基本信息 -->

<hdp:configuration>
	fs.default.name=hdfs://hadoop2dev.dc:9000   
</hdp:configuration>

<!-- //配置zookeeper的信息，远程连接hbase时使用 -->

<hdp:hbase-configuration  zk-quorum="172.17.16.80" zk-port="2181"/>
   <bean id="htemplate"	class="org.springframework.data.hadoop.hbase.HbaseTemplate" >
       <property name="configuration" ref="hbaseConfiguration"></property>
	</bean>

</beans>